body {
  background-color: #DDD4D5 ;

}
h1 {
  margin-left: 10px;
  padding-left: 30px;
  background-image: linear-gradient(to right, #0cbdc0, #0cbdc0, #0cbdc0, #3ff0f3, #6ff4f6);
  border-radius: 4px;
  box-shadow: 10px 10px 5px grey;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: 'Mali', cursive;
}
h2 {
  padding-left: 10px;
  background-image: linear-gradient(to right, #F5B265, #ffffff);
  border-radius: 4px;
  box-shadow: 10px 10px 5px grey;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 2px grey;
}
p {
  margin-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
img {
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  height: 150px;
  width: 300px;
}
.button {
    background-color: #F5B265;
    border:none;
    border-radius: 100px 0px 0px 100px;
    color: black;
    text-shadow: 1px 1px 2px gray;
    box-shadow: 5px 5px 2px grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
